<a href="https://colab.research.google.com/github/koteshvarma2/Data_Science/blob/main/Task2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

data = {
    'Age': [23, 45, 31, 35, 58, 40, 38, 31, 29, 41],
    'Salary': [50000, 82000, 60000, 72000, 91000, 68000, 72000, 62000, 58000, 70000]
}

df = pd.DataFrame(data)

description = df.describe()

age_mode = df['Age'].mode()[0]
salary_mode = df['Salary'].mode()[0]

print("Descriptive Statistics:\n", description)
print(f"\nMode of Age: {age_mode}")
print(f"Mode of Salary: {salary_mode}")

Descriptive Statistics:
              Age        Salary
count  10.000000     10.000000
mean   37.100000  68500.000000
std     9.814389  11937.336386
min    23.000000  50000.000000
25%    31.000000  60500.000000
50%    36.500000  69000.000000
75%    40.750000  72000.000000
max    58.000000  91000.000000

Mode of Age: 31
Mode of Salary: 72000